@import '~mdb-ui-kit/css/mdb.min.css';

body{
  background-color: #E4DBCA im !important;
}

.custom-container-width{
  padding: 5%;
}

.opening-hrs-bar{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #561B1F;
  color: #fff;
}

.card-tiles{
  padding: 5%;
  margin-left: 20px;
  margin-bottom: 30px;
  color: #22403D;
  background-color: #E4DBCA !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  max-width: 500px;
}

.card-links{
  color: #561B1F;
  text-decoration: none;
}

.card-links:hover{
  color: #22403D;
  text-decoration: none;
}

.container-size{
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

.main-header{
  background-image: url('./img/pexels-pixabay-104836.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-header{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.welcome-text{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.body-text{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* #footer{
  background-color: #561B1F;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

#content-wrap{
  padding-bottom: 2.5rm;
} */

.car-card-layout{
  padding-top: 50px;
  margin: 0 auto !important;
}

.container_width{
  max-width: 1500px !important;
}

.card_buttons{
  background-color: #561B1F;
  color: #fff
}

.header__text{
  font-family: 'Oswald', sans-serif;
}
